{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Endauszahlung
{% endblock %}

{% block content %}

Vielen Dank für Ihre Teilnahme an dieser Studie. <b>Ihre Gesamtauszahlung beträgt: {{ player.payoff }} Euro </b> <br>
<br>
Unten sehen Sie, wie Ihre Endauszahlung bestimmt wurde. Für jeden Teil wurde jeweils eine Runde zufällig für Ihre Konsumauszahlung
und eine Runde zufällig für die Vergütung Ihrer Preiserwartung ausgewählt. <br>
<br>
<hr>
<h2>Teil 1</h2>

<h3>Konsumauszahlung</h3>
<ul>
    <li>
        Ausgewählte Runde: {{ con_rounds.0 }}
    </li>
    <li>
        Ihr Ausstattungsprofil war E<sub>1</sub> = {{ y1.0 }}, E<sub>2</sub> = {{ y2.0 }}
    </li>
    <li>
        In dieser Runde war Ihre Konsumentscheidung in Periode 1: {{ c1_list.0 }}
    </li>
    <li>
        Das Preisniveau in Periode 2 war: {{ con_p2.0 }}
    </li>
    <li>
        Ihr daraus resultierender Konsum in Periode 2 war: {{ c2_list.0 }}
    </li>
    <li>
        Ihre daraus resultierende Konsumauszahlung in dieser Runde beträgt:
        {{ u_points.0 }} Punkte ({{ u_euros.0 }} Euro).
    </li>
</ul>

<h3>Vergütung Ihrer Preiserwartung</h3>
<ul>
    <li>
        Ausgewählte Runde: {{ bel_rounds.0 }}
    </li>
    <li>
        Ihre angegebene Wahrscheinlichkeit für einen hohen Preis war:
        {{ belief_raws.0 }}%.
    </li>
    <li>
        Das Preisniveau war: {{ bel_p2.0 }}
    </li>
    <li>
        Ihre Gewinnwahrscheinlichkeit für den 2-Euro-Bonus betrug:
        {{ thresholds_pct.0 }}%.
    </li>
    <li>
        Der Computer hat die Lotterie auf Grundlage Ihrer angegebenen Wahrscheinlichkeit durchgeführt.
    </li>
    <li>
        Ergebnis der Lotterie:
        Sie haben den 2-Euro-Bonus in diesem Teil
        {% if belief_points.0 > 0 %}
            <strong>gewonnen</strong>
        {% else %}
            <strong>nicht gewonnen</strong>
        {% endif %}.
    </li>
</ul>

<hr>

<h2>Teil 2</h2>

<h3>Konsumauszahlung</h3>
<ul>
    <li>
        Ausgewählte Runde: {{ con_rounds.1 }}
    </li>
    <li>
        Ihr Ausstattungsprofil war E<sub>1</sub> = {{ y1.1 }}, E<sub>2</sub> = {{ y2.1 }}
    </li>
    <li>
        In dieser Runde war Ihre Konsumentscheidung in Periode 1: {{ c1_list.1 }}
    </li>
    <li>
        Das Preisniveau in Periode 2 war: {{ con_p2.1 }}
    </li>
    <li>
        Ihr daraus resultierender Konsum in Periode 2 war: {{ c2_list.1 }}
    </li>
    <li>
        Ihre daraus resultierende Konsumauszahlung in dieser Runde beträgt:
        {{ u_points.1 }} Punkte ({{ u_euros.1 }} Euro).
    </li>
</ul>

<h3>Vergütung Ihrer Preiserwartung</h3>
<ul>
    <li>
        Ausgewählte Runde: {{ bel_rounds.1 }}
    </li>
    <li>
        Ihre angegebene Wahrscheinlichkeit für einen hohen Preis war:
        {{ belief_raws.1 }}%.
    </li>
    <li>
        Das Preisniveau war: {{ bel_p2.1 }}
    </li>
    <li>
        Ihre Gewinnwahrscheinlichkeit für den 2-Euro-Bonus betrug:
        {{ thresholds_pct.1 }}%.
    </li>
    <li>
        Der Computer hat die Lotterie auf Grundlage Ihrer angegebenen Wahrscheinlichkeit durchgeführt.
    </li>
    <li>
        Ergebnis der Lotterie:
        Sie haben den 2-Euro-Bonus in diesem Teil
        {% if belief_points.1 > 0 %}
            <strong>gewonnen</strong>
        {% else %}
            <strong>nicht gewonnen</strong>
        {% endif %}.
    </li>
</ul>

<hr>

<h2>Teil 3</h2>

<h3>Konsumauszahlung</h3>
<ul>
    <li>
        Ausgewählte Runde: {{ con_rounds.2 }}
    </li>
    <li>
        Ihr Ausstattungsprofil war E<sub>1</sub> = {{ y1.2 }}, E<sub>2</sub> = {{ y2.2 }}
    </li>
    <li>
        In dieser Runde war Ihre Konsumentscheidung in Periode 1: {{ c1_list.2 }}
    </li>
    <li>
        Das Preisniveau in Periode 2 war: {{ con_p2.2 }}
    </li>
    <li>
        Ihr daraus resultierender Konsum in Periode 2 war: {{ c2_list.2 }}
    </li>
    <li>
        Ihre daraus resultierende Konsumauszahlung in dieser Runde beträgt:
        {{ u_points.2 }} Punkte ({{ u_euros.2 }} Euro).
    </li>
</ul>

<h3>Vergütung Ihrer Preiserwartung</h3>
<ul>
    <li>
        Ausgewählte Runde: {{ bel_rounds.2 }}
    </li>
    <li>
        Ihre angegebene Wahrscheinlichkeit für einen hohen Preis war:
        {{ belief_raws.2 }}%.
    </li>
    <li>
        Das Preisniveau war: {{ bel_p2.2 }}
    </li>
    <li>
        Ihre Gewinnwahrscheinlichkeit für den 2-Euro-Bonus betrug:
        {{ thresholds_pct.2 }}%.
    </li>
    <li>
        Der Computer hat die Lotterie auf Grundlage Ihrer angegebenen Wahrscheinlichkeit durchgeführt.
    </li>
    <li>
        Ergebnis der Lotterie:
        Sie haben den 2-Euro-Bonus in diesem Teil
        {% if belief_points.2 > 0 %}
            <strong>gewonnen</strong>
        {% else %}
            <strong>nicht gewonnen</strong>
        {% endif %}.
    </li>
</ul>

<hr>

<h3>Zusammenfassung</h3>

<table class="table table-sm" style="max-width: 520px;">
    <tbody>
        <tr>
            <td>Feste Aufwandsentschädigung:</td>
            <td class="text-end"><strong>&nbsp;</strong> {{ showup_fee }} Euro</td>
        </tr>
        <tr>
            <td>Konsumentscheidung in Teil 1:</td>
            <td class="text-end"><strong>&nbsp;</strong> {{ u_euros.0 }} Euro</td>
        </tr>
        <tr>
            <td>Konsumentscheidung in Teil 2:</td>
            <td class="text-end"><strong>&nbsp;</strong> {{ u_euros.1 }} Euro</td>
        </tr>
        <tr>
            <td>Konsumentscheidung in Teil 3:</td>
            <td class="text-end"><strong>&nbsp;</strong> {{ u_euros.2 }} Euro</td>
        </tr>
        <tr>
            <td>Lotterien:</td>
            <td class="text-end"><strong>&nbsp;</strong> {{ total_belief_euros }} Euro</td>
        </tr>
        <tr>
            <td><strong>SUMME</strong></td>
            <td class="text-end"><strong>&nbsp;</strong> {{ player.payoff }} Euro</td>
        </tr>
    </tbody>
</table>

{% endblock %}
