{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Einverständniserklärung{% endblock %}

{% block content %}

<p>Willkommen zu dieser Studie über wirtschaftliche Entscheidungsfindung.</p>

<p>
    Sie erhalten eine feste Aufwandsentschädigung von 7 Euro und können durch Ihre Antworten zusätzliche Zahlungen verdienen. 
    Da es sich um eine individuelle Entscheidungsstudie handelt, haben die Entscheidungen anderer Personen keinen Einfluss auf Ihre Vergütung.
</p>

<p>
    Die Teilnahme an dieser Studie ist freiwillig und Sie können jederzeit gehen. Um eine faire und ruhige Sitzung zu gewährleisten, 
    sprechen Sie bitte nicht mit anderen Teilnehmern. Die Verwendung von Mobiltelefonen oder anderen Geräten während des Experiments ist verboten. 
    Die Sitzung dauert etwa 90 Minuten.

</p>

<p>
    Wenn Sie auf „Zustimmen und fortfahren” klicken, bestätigen Sie, dass Sie diese Informationen gelesen haben und der Teilnahme an der Studie zustimmen.
</p>

    <button type="submit">
        Zustimmen und fortfahren
    </button>
    
{{ endblock }}