{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Anweisungen für Teil {{ treatment }}{% endblock %}

{% block content %}

<p>
    In diesem Teil beginnt jede Runde mit Informationen über Ihr Dotationsprofil in dieser Runde. Sie sehen außerdem die Tabelle mit den
    möglichen Konsumentscheidungen und den potenziellen Auszahlungen, die mit diesen Entscheidungen für beide Preise verbunden sind.
    In diesem Teil müssen Sie Ihre Konsumentscheidung treffen, bevor Sie den Preis-Hinweis für Periode 2 erhalten.
</p>

<p>
    Denken Sie daran, dass die Wahrscheinlichkeiten dafür, dass der Preis in Periode 2 entweder 0,5 oder 2 beträgt, jeweils 50 % sind.
    Das heißt, beide Ereignisse sind gleich wahrscheinlich.
</p>

<p>
    Nachdem Sie Ihre Konsumentscheidung ausgewählt und bestätigt haben, erhalten Sie den Preis-Hinweis für diese Runde.
</p>

<p>
    Nachdem Sie die Wahrscheinlichkeit angegeben und bestätigt haben, die Sie der Mehrheit der roten Punkte zuweisen,
    beginnt die nächste Runde mit neuen Informationen zum Dotationsprofil und einer neuen Konsumentscheidung.
</p>

<p> Dieser Vorgang wird 12 Runden lang wiederholt.</p>

{% block next_button %}
    <button class="otree-btn-next btn btn-primary">Fortfahren</button>
{% endblock %}

{{ endblock %}
