{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Anweisungen für Teil {{ treatment }}{% endblock %}

{% block content %}

<p>
    In diesem Teil beginnt jede Runde mit Informationen über Ihr Ausstattungsprofil in dieser Runde. Sie sehen außerdem die Tabelle
    mit den möglichen Konsumentscheidungen und den potenziellen Auszahlungen, die mit diesen Entscheidungen für beide Preise verbunden sind. 
    In diesem Teil müssen Sie Ihre Konsumentscheidung treffen, bevor Sie den Preishinweis für Periode 2 erhalten.
</p>

<p>
    Denken Sie daran, dass die Wahrscheinlichkeiten dafür, dass der Preis in Periode 2 entweder 0,5 oder 2 beträgt, jeweils 50 % sind.
    Das heißt, beide Ereignisse sind gleich wahrscheinlich.
</p>

<p>
    Nachdem Sie Ihre Konsumentscheidung ausgewählt und bestätigt haben, erhalten Sie den Preishinweis für diese Runde, den Sie durch Klicken 
    auf die Schaltfläche „Hinweis anzeigen“ sehen können. Sie sehen dann acht Sekunden lang ein Diagramm mit roten und blauen Punkten. 
    Anschließend müssen Sie Ihre Einschätzung zur Wahrscheinlichkeit abgeben, dass die Mehrheit der Punkte rot ist.
</p>

<p>
    Nachdem Sie die Wahrscheinlichkeit angegeben und bestätigt haben, beginnt die nächste Runde mit neuen Informationen zum Ausstattungsprofil 
    und einer neuen Konsumentscheidung.
</p>

<p> Dieser Vorgang wird 12 Runden lang wiederholt.</p>

{% block next_button %}
    <button class="otree-btn-next btn btn-primary">Fortfahren</button>
{% endblock %}

{{ endblock %}
