{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Anweisungen für Teil (2 oder 3){% endblock %}

{% block content %}

<p>
    In diesem Teil beginnt jede Runde mit Informationen über Ihr Ausstattungsprofil in dieser Runde. Sie sehen außerdem die Tabelle mit den möglichen
    Konsumentscheidungen und den potenziellen Auszahlungen, die mit diesen Entscheidungen für beide Preise verbunden sind. 
    Allerdings können Sie Ihre Konsumentscheidung noch nicht treffen.
</p>

<p>
    Bevor Sie dies tun können, erhalten Sie den Hinweis für den Preis in Periode 2. Um fortzufahren, müssen Sie auf die Schaltfläche „Hinweis anzeigen” klicken.
    Nachdem Sie auf diese Schaltfläche geklickt haben, sehen Sie acht Sekunden lang ein Diagramm mit roten und blauen Punkten.
    Anschließend müssen Sie Ihre Einschätzung zur Wahrscheinlichkeit abgeben, dass die Mehrheit der Punkte rot ist.
</p>

<p>
    Nachdem Sie die Wahrscheinlichkeit angegeben und bestätigt haben, werden Sie an Ihr Ausstattungsprofil erinnert und sehen erneut die potenziellen Auszahlungen,
    die mit den verschiedenen Konsumentscheidungen für beide Preise verbunden sind. Sie sehen auch Ihre zuvor genannte Erwartung bezüglich <em>P<sub>2</sub>=2</em>.
    Nun können Sie eine Konsumentscheidung treffen.
</p>

<p>
    Nachdem Sie Ihre Konsumentscheidung ausgewählt und bestätigt haben, beginnt die nächste Runde mit Informationen über das Ausstattungsprofil der nächsten Runde.
</p>

<p> Dieser Vorgang wird 12 Runden lang wiederholt.</p>

{% block next_button %}
    <button class="otree-btn-next btn btn-primary">Fortfahren</button>
{% endblock %}

{% endblock %}
