{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Anweisungen für Teil {{ treatment }} {% endblock %}

{% block content %}

<p>
    In diesem Teil beginnt jede Runde mit Informationen über Ihr Dotationsprofil in dieser Runde. Sie sehen außerdem
    die Tabelle mit den möglichen Konsumentscheidungen und den potenziellen Auszahlungen, die mit diesen Entscheidungen
    für beide Preise verbunden sind. Allerdings können Sie Ihre Konsumentscheidung noch nicht treffen.

</p>

<p>
    Bevor Sie dies tun können, erhalten Sie den Preis-Hinweis für den Preis in Periode 2. Um fortzufahren,
    müssen Sie auf die Schaltfläche „Hinweis anzeigen” klicken. Nachdem Sie auf diese Schaltfläche geklickt haben, sehen Sie den Preis-Hinweis für diese Runde acht Sekunden lang.
</p>

<p>
    Nachdem Sie die Wahrscheinlichkeit angegeben und bestätigt haben, die Sie der Mehrheit der roten Punkte zuweisen,
    werden Sie erneut an Ihr Dotationsprofil erinnert und sehen die potenziellen Auszahlungen, die mit den verschiedenen
    Konsumentscheidungen für beide Preise verbunden sind. Sie sehen außerdem Ihre eigene Überzeugung bezüglich <em>P<sub>2</sub>=2</em>.
    Nun können Sie eine Konsumentscheidung treffen.
</p>

<p>
    Nachdem Sie Ihre Konsumentscheidung ausgewählt und bestätigt haben, beginnt die nächste Runde mit Informationen über das
    Dotationsprofil der nächsten Runde.
</p>

<p> Dieser Vorgang wird 12 Runden lang wiederholt.</p>

{% block next_button %}
    <button class="otree-btn-next btn btn-primary">Fortfahren</button>
{% endblock %}

{% endblock %}
