{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Part {{ treatment }} Instructions{% endblock %}

{% block content %}

In this part, each round will start with an information about your endowment profile in this period. <br>
You will also see the table with the possible consumption choices and the potential
payoffs associated with these choices for both prices. However, you cannot yet make your consumption choice. <br>
Before you can do that, you will get the hint for the price level in Period 2.
To proceed, you must click on the button “Get hint”.
After you clicked this button, you will see the price hint for this round for 8 seconds. <br>
Once you stated and confirmed the probability that you attribute to the majority of dots being red,
you will be reminded about your endowment profile and the potential payoffs associated with the various
possible consumption choices for both prices. You will also see your own stated belief for <em>P<sub>2</sub>=2</em>
Now you can make a consumption choice. <br>
After confirming your consumption choice, the next round starts with an information about next period’s endowment. <br>
This procedure is repeated for 12 rounds. <br>

{{ next_button }}

{% endblock %}
