{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Anweisungen für Teil {{ treatment }} {% endblock %}

{% block content %}

<p>
    In diesem Teil beginnt jede Runde mit einem Preis-Hinweis für Periode 2, den Sie durch Klicken auf die Schaltfläche „Hinweis anzeigen”
    sehen können. Sie sehen dann acht Sekunden lang ein Diagramm mit roten und blauen Punkten. Anschließend müssen Sie Ihre Einschätzung zur 
    Wahrscheinlichkeit abgeben, dass die Mehrheit der Punkte rot ist.
</p>

<p>
    Nachdem Sie die Wahrscheinlichkeit bestätigt haben, die Sie der Mehrheit der roten Punkte zuweisen, 
    werden Sie über Ihr Dotationsprofil und die potenziellen Auszahlungen informiert, die mit den verschiedenen Konsumentscheidungen
    für die beiden Preise verbunden sind. Sie sehen auch Ihre eigene Überzeugung bezüglich <em>P<sub>2</sub>=2</em>.
</p>

<p>
    Nachdem Sie Ihre Konsumentscheidung ausgewählt und bestätigt haben, beginnt die nächste Runde mit einem neuen Preis-Hinweis.
</p>

<p> Dieser Vorgang wird 12 Runden lang wiederholt.</p>

{% block next_button %}
    <button class="otree-btn-next btn btn-primary">Fortfahren</button>
{% endblock %}

{{ endblock }}

