{% extends "global/Page.html" %}
{% block title %}Final Payment{% endblock %}
{% block content %}

<p>One round was chosen at random from the main experiment:
<strong>{{ player.paid_treatment }} (Round {{ player.paid_round }})</strong>.</p>

{% if player.payoff_type == 'consumption' %}
  <p>The <strong>consumption decision</strong> in that round was selected.</p>
  <p>Your utility in that round: {{ player.u_points }}</p>
{% else %}
  <p>The <strong>belief accuracy</strong> in that round was selected. <br>
    You guessed {{ player.belief_raw }} red points were in the matrix, correct was {{ player.true_red_count }} <br>
    Your chance of winning  was {{ player.threshold }}</p>
  <p>Your score in that round: {{ player.belief_points }} </p>
{% endif %}

<p>Your final payoff is:</p>

<h3>{{ player.payoff }}</h3>

{% endblock %}
